# Java build files
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Runtime files
hs_err_pid*
replay_pid*

# Minecraft cache
.minecraft/assets/objects/*
.minecraft/assets/indexes/*
.minecraft/natives/*
.minecraft/libraries/*

# PowerShell history
*.pshistory

# OS files
Thumbs.db
.DS_Store
